.sg_related_posts .sg_related_posts_title {
  margin-right: 8px;
  margin-block-end: .5rem;
}

.sg_related_posts ul.sg_related_posts_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.sg_related_posts ul.sg_related_posts_list li {
  display: block;
  width: calc(100% - 16px);
  margin: 0 8px;
}

@media (min-width: 768px) {
  .sg_related_posts ul.sg_related_posts_list li {
    width: calc(50% - 16px);
  }
}

@media (min-width: 992px) {
  .sg_related_posts ul.sg_related_posts_list li {
    width: calc(33% - 16px);
  }
}

@media (min-width: 1200px) {
  .sg_related_posts ul.sg_related_posts_list li {
    width: calc(25% - 16px);
  }
}
